<div class="background">
  <div class="row">
    <img src="../../assets/images/boy.jpg" class="profile">
    <div class="column">
      <div class="col heading">
        Welcome Admin..!!
      </div>
      <div class="col sub-heading">
        Name of Admin
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="column">
      <div class="sidebar" style="margin-top: 31px;">
        <button (click)="selectAuthType('Student')" type="button" class="nav-button">Student</button>
        <button (click)="selectAuthType('Professor')" type="button" class="nav-button">Professor</button>
        <button (click)="selectAuthType('Subject')" type="button" class="nav-button">Subject</button>
      </div>
    </div>
    <div class="column">
      <app-student *ngIf="selectedType == 'Student'"></app-student>
      <app-professor *ngIf="selectedType == 'Professor'"></app-professor>
    </div>
  </div>
</div>
