/* .background {
  background-image: url('../../assets/images/adminProfile.jpg');
  width: 1688px;
  height: 1337px;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  position: relative;
}

.profile {
  background-image: url('../../assets/images/boy.jpg');
  margin-left: 72px;
  margin-top: 27px;
  border: 2px solid #7c7c7f;
  border-radius: 500px;
  width: 171px;
  height: 158px;
}

.heading{
  color: #0b0990;
    font-size: 55px;
    font-family: fantasy;
    text-align: center;
    margin-left: 259px;
}

.sub-heading{
  margin-left: 392px;
    color: #bb030c;
    font-size: 41px;
    font-family: fantasy;
}


.nav-button{
  background-color: #cc1b2b;
  border-radius: 24px;
  text-align: center;
  margin-bottom: 10px;
  padding: 18px 50px 14px 33px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  font-size: 19px;
  margin-top: 18px;
  margin-left: 79px;
  font-family: cursive;
  text-align: center;
}
.line{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 25;
  border-top: 3px solid rgba(10, 10, 10, 0.97);
}

.sidebar
{
  margin-top: 31px;
} */

.row1 {
  background-color: #78c5db;
  height: 137px;
}

.column0 {
  background-color:#78c5db ;
  width: 15%;
  height: 185px;
}

.column1 {
  background-color: #78c5db;
  width: 55%;
  height: 185px;
  margin-top: -185px;
  float: right;
}

.column2 {
  background-color: #78c5db;
  height: 185px;
  width: 31%;
  font-style: oblique;
  margin-top: -185px;
  margin-left: 269px;
  font-size: 35px;
  text-align: center;
  color: aliceblue;
}

.logo {
  height: 160px;
    width: 88%;
    margin-left: 20px;
    margin-top: 13px;
    border-radius: 120px;
}

img {
  height: 185px;
  width: 32%;
  margin-left: 10px;
}

.line {
  margin-top: 52px;
  margin-bottom: 5px;
  border: 25;
  border-top: 5px solid #053a4c;
}

.line1{
  margin-top: 0px;
  margin-bottom: 5px;
  border: 25;
  border-top: 5px solid #053a4c;
}

.row2 {
  height: 56px;
}

.nav-button {
  height: 50px;
  margin-left: 35px;
  width: 12%;
  font-family: monospace;
  font-size: 23px;
  color: aliceblue;
  border-radius: 16px;
  background-color: #05394c;
}

button:hover {
  background-color: #78c5db;
  color: #05394c;
  cursor: pointer;
}

button:active {
  background-color: #78c5db;
  color: #05394c;
  cursor: pointer;
}

h3 {
  padding-top: 24px;
  font-size: 50px;
  color: #05394c;
}

h4 {
  font-size: 40px;
  color: #05394c;
  text-decoration: underline;
}
