<div class="background">
  <div class="row">
    <img src="../../assets/images/boy.jpg" class="profile">
    <div class="column">
      <div class="col heading">
        Welcome Admin..!!
      </div>
      <div class="col sub-heading">
        Name of Admin
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="column">
      <div class="sidebar" style="margin-top: 31px;">
        <button (click)="selectAuthType('Student')" type="button" class="nav-button">Student Registration</button>
        <button (click)="selectAuthType('Professor')" type="button" class="nav-button">Professor Registration</button>
        <button (click)="selectAuthType('studentList')" type="button" class="nav-button">Student List</button>
      </div>
    </div>
    <div class="column">
      <app-student-registration-form *ngIf="selectedType == 'Student'"></app-student-registration-form>
      <app-professor-registration-form *ngIf="selectedType == 'Professor'"></app-professor-registration-form>
      <app-student-list *ngIf="selectedType == 'studentList'"></app-student-list>
    </div>
  </div>
</div>
