/* .row
{
  margin-left: 372px;
  margin-top: 15px;
}

button{
  background-color: #7DAFF9;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 10px;
    padding: 18px 50px 14px 33px;
    text-decoration: none;
    font-size: 20px;
    color: #004085;
    display: block;
    font-size: 19px;
    margin-top: 18px;
    margin-left: 79px;
    font-family: cursive;
    text-align: center;
}

.column {
  margin-right: -320px;
} */



.row1 {
  width: 30%;
    height: 45px;
    margin: auto;
    margin-top: 10px;
}

.row2 {
  width: 95%;
  margin: auto;
}

button {
  font-size: 22px;
    font-family: fangsong;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #78c5db;
    border-color: antiquewhite;
    color: #05394c;
}
