<div class = "design" style = "margin-top: 40px;">
<h4>Our Vision</h4><br>
To emerge as world class knowledge center producing
professionals of high academic acumen , commited to
professionals ethics , integrity and meaningfully
contributing to national development.
</div>

<div class = "course_img">
  <img src="../assets/images/comp_img.png">
</div>

<div class = "design">
  <h4>Computer Science Engineering (CSE)</h4><br>
  One of the most sought after courses amongst engineering
  students, Computer Science Engineering (CSE) is an academic
  programme which integrates the field of Computer Engineering
  and Computer Science. The programme, which emphasises the
  basics of computer programming and networking, comprises
  a plethora of topics.
</div>

<div class = "course_img">
  <img src="../assets/images/mech_img.png">
</div>

<div class = "design" style = "margin-top: 20px;">
  <h4>Mechanical Engineering</h4><br>
  One of the oldest and broadest fields of engineering,
  Mechanical engineering deals with the design, construction,
  and use of machines.A student pursuing a mechanical engineering
  programme will acquire knowledge about designing of automobiles,
  electric motors, aircraft and other heavy vehicles.
</div>

<div class = "course_img">
    <img src="../assets/images/entc_img.png">
</div>

<div class = "design" style = "margin-top: 20px;">
    <h4>Electronics and Communications Engineering</h4><br>
    Electronics and Communications Engineering (ECE) involves
    researching, designing, developing and testing of electronic
    equipment used in various systems. Electronics and Communications
    engineers also conceptualize and oversee the manufacturing of
    communications and broadcast systems.
</div>
