<!-- <div class="background">
  <div class="row">
    <img src="../../assets/images/boy.jpg" class="profile">
    <div class="column">
      <div class="col heading">
        Welcome Professor..!!
      </div>
      <div class="col sub-heading">
        {{professor?.firstName}}
        {{professor?.lastName}}
      </div>
    </div>
    <div class="column logout-btn">
      <button (click)="logout()" class="btn btn-danger" type="button">Logout</button>
    </div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="column">
      <div class="sidebar" style="margin-top: 31px;">
        <button [routerLink]="['updateprofile']" type="button" class="nav-button">Update Profile</button>
        <button [routerLink]="['notes']" routerLinkActive="router-link-active" type="button" class="nav-button">Upload
          Notes</button>
        <button [routerLink]="['notice']" type="button" class="nav-button">Upload Notice</button>
        <button [routerLink]="['takeattendance']" type="button" class="nav-button">Take Attendance</button>
        <button [routerLink]="['viewattendance']" type="button" class="nav-button">View Attendance</button>
      </div>
    </div>
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="row1" >
  <div class="column0">
      <img src="../assets/images/cap.png" class="logo">
  </div>
  <div class="column1">
      <img src="../assets/images/study.png">
      <img src="../assets/images/scrum.png">
      <img src="../assets/images/team.png">
  </div>
  <div class="column2">
    <h3>Welcome</h3>
    <h4>{{professor?.firstName}}
      {{professor?.lastName}}</h4>
  </div>
</div>
<hr class="line">
<div class="row2">
  <button [routerLink]="['updateprofile']" type="button" class="nav-button">Profile</button>
  <button [routerLink]="['notes']" type="button" class="nav-button">Notes</button>
  <button [routerLink]="['notice']" type="button" class="nav-button">Notices</button>
  <button [routerLink]="['takeattendance']" type="button" class="nav-button">Take Attendance</button>
  <button [routerLink]="['viewattendance']" type="button" class="nav-button">View Attendance</button>
  <button type="button" class="nav-button">Fee Details</button>
  <button type="button" (click)="logout()" class="nav-button" style="background-color: #ff5722">Logout</button>
</div>
<hr class="line">
<router-outlet></router-outlet>
