<div class="background">
  <div class="row">
    <img src="../../assets/images/boy.jpg" class="profile">
    <div class="column">
      <div class="col heading">
        Welcome Professor..!!
      </div>
      <div class="col sub-heading">
      {{professor.firstName}}
      {{professor.lastName}}
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="column">
      <div class="sidebar" style="margin-top: 31px;">
        <button [routerLink]="['updateprofile']" type="button" class="nav-button">Update Profile</button>
        <button [routerLink]="['notes']" routerLinkActive="router-link-active"  type="button" class="nav-button">Upload Notes</button>
        <button [routerLink]="['notice']" type="button" class="nav-button">Upload Notice</button>
        <button [routerLink]="['takeattendance']" type="button" class="nav-button">Take Attendance</button>
        <button [routerLink]="['viewattendance']" type="button" class="nav-button">View Attendance</button>
      </div>
    </div>
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
