<!-- <div class="background">
  <div class="row">
    <img src="../../assets/images/logo.jpg" class="logo">
    <div class="column">
      <div class="col heading">
        KEYSTONE SCHOOL OF ENGINEERING
      </div>
      <div class="col sub-heading">
        By The Teachers, Of The Students, For The Society.
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="sidebar">
        <button (click)="selectAuthType('Home')" type="button" class="nav-button">Home</button>
        <button (click)="selectAuthType('Admin')" type="button" class="nav-button">Admin</button>
        <button (click)="selectAuthType('Professor')" type="button" class="nav-button">Professor </button>
        <button (click)="selectAuthType('Student')" type="button" class="nav-button">Student </button>
      </div>
      <div>
        <app-home *ngIf="selectedType == 'Home'"></app-home>
        <app-admin-login *ngIf="selectedType == 'Admin'"></app-admin-login>
        <app-professor-login *ngIf="selectedType == 'Professor'"></app-professor-login>
        <app-student-login *ngIf="selectedType == 'Student'"></app-student-login>
      </div>
    </div>
  </div>
</div> -->

<!-- New Design -->

<div class="row1" >
  <div class="column0">
      <img src="../assets/images/logo.jpg" class="logo">
  </div>
  <div class="column1" >
    <h1 style = "font-size: 35px; color:#053a4c">KEYSTONE<br>SCHOOL OF ENGINEERING</h1>
  </div>
  <div class="column2" >
    <h1 style = "font-size: 32px; color:#053a4c">By The Teachers,Of The Students,For The Society..!!
    </h1>
  </div>
</div>
<hr class="line">
  <button (click)="selectAuthType('Home')" type="button" class="nav-button" style = "margin-left: 490px;">HOME</button>
  <button (click)="selectAuthType('Admin')" type="button" class="nav-button">ADMIN</button>
  <button (click)="selectAuthType('Professor')" type="button" class="nav-button">PROFESSOR</button>
  <button (click)="selectAuthType('Student')" type="button" class="nav-button">STUDENT</button>
<div class="pages" style="height: 700px;">
<div class="col1">
    <img src="../assets/images/Process.png" class="pic">
</div>
<div class="col2">
  <app-home *ngIf="selectedType == 'Home'"></app-home>
  <app-admin-login *ngIf="selectedType == 'Admin'"></app-admin-login>
  <app-professor-login *ngIf="selectedType == 'Professor'"></app-professor-login>
  <app-student-login *ngIf="selectedType == 'Student'"></app-student-login>
</div>
<div class="col3">
    <img src="../assets/images/static.png" class="pic">
</div>
</div>
