<div class="background">
  <div class="row">
    <img src="../../assets/images/logo.jpg" class="logo">
    <div class="column">
      <div class="col heading">
        KEYSTONE SCHOOL OF ENGINEERING
      </div>
      <div class="col sub-heading">
        By The Teachers, Of The Students, For The Society.
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="sidebar">
        <button (click)="selectAuthType('Home')" type="button" class="nav-button">Home</button>
        <button (click)="selectAuthType('Admin')" type="button" class="nav-button">Admin</button>
        <button (click)="selectAuthType('Professor')" type="button" class="nav-button">Professor </button>
        <button (click)="selectAuthType('Student')" type="button" class="nav-button">Student </button>
      </div>
      <div>
        <app-admin-login *ngIf="selectedType == 'Admin'"></app-admin-login>
        <app-professor-login *ngIf="selectedType == 'Professor'"></app-professor-login>
        <app-student-login *ngIf="selectedType == 'Student'"></app-student-login>
      </div>
    </div>
  </div>
</div>
