<!-- <input type="file" (change)="onfileUpload($event)">
<div *ngFor="let item of notes">
  <a href="{{item.file}}"> {{item.file}}</a>
</div> -->


<div class="background">
  <div class="form-group">
    <div class="card-body">
      <h5 class="register">Upload Notes</h5>
      <form [formGroup]="noteForm" class="form-register">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" formControlName="noteTitle" placeholder="Enter notes title Here" required autofocus>
        </div>
        <div class="form-group">
          <label>Class</label>
          <select (change)="onClassSelect()" formControlName="class" class="form-control">
            <option>NONE</option>
            <option>SE</option>
            <option>TE</option>
            <option>BE</option>
          </select>
        </div>
        <div class="form-group">
          <label>Subject</label>
          <select (change)="onSubjectSelect()" formControlName="subject" class="form-control">
            <option *ngIf="subjects.length==0">No subjects found</option>
            <option [value]="item._id" *ngFor="let item of subjects">{{item.subjectName}}</option>
        </select>
        </div>
        <div class="form-group">
          <label>Browse File to upload</label><br>
          <input type="file" (change)="onfileUpload($event)">
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="uploadNote()">Upload</button>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="getNotes()">View Notes</button>
        <!-- <div class="form-group" *ngFor="let item of notes">
          <label>Uploaded File Link</label>
          <a href="{{item.file}}"> {{item.file}}</a>
        </div> -->
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Subject</th>
                <th scope="col">Class</th>
                <th scope="col">Uploaded Notes</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of notes;  let i = index">
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{item.noteTitle}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.class}}</td>
                <td>{{item.file}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
