<div class="background">
  <div class="row">
    <img src="../../assets/images/boy.jpg" class="profile">
    <div class="column">
      <div class="col heading">
        Welcome Student..!!
      </div>
      <div class="col sub-heading">
        Name of Student
      </div>
      <div class="column logout-btn">
        <button (click)="logout()" class="btn btn-danger" type="button">Logout</button>
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="column">
      <div class="sidebar" style="margin-top: 31px;">
        <button type="button" class="nav-button">Edit Profile</button>
      </div>
    </div>
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
