<div class="background">
  <div class="row">
    <img src="../../assets/images/boy.jpg" class="profile">
    <div class="column">
      <div class="col heading">
        Welcome Admin..!!
      </div>
      <div class="col sub-heading">
        Name of Student
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="column">
      <div class="sidebar" style="margin-top: 31px;">
        <button type="button" class="nav-button">Update Profile</button>

      </div>
    </div>
    <div class="column">
      <!-- <app-student-registration-form *ngIf="selectedType == 'Student'"></app-student-registration-form>
      <app-professor-registration-form *ngIf="selectedType == 'Professor'"></app-professor-registration-form> -->
    </div>
  </div>
</div>
