<div class="background">
<div class="head">
<h3>Keystone School Of Engineering</h3>
<h4>Fee Receipt</h4>
</div>
  <table class="table">
      <tr>
        <th scope="col">Student Name : </th>
        <td colspan="3">{{student.studentId.firstName}} {{student.studentId.lastName}}</td>
      </tr>
      <tr>
        <th scope="col">Student Username : </th>
        <td colspan="3">{{student.studentId.userName}}</td>
      </tr>
      <tr>
        <th scope="col">Class : </th>
        <td colspan="3">{{student.class}}</td>
      </tr>
      <tr>
        <th scope="col">First Semester Payment : </th>
        <td>{{student.payment1}} Rs</td>
        <th scope="col">Date : </th>
        <td>{{student.date1 | date:'MM/dd/yyyy'}}</td>
      </tr>
      <tr>
        <th scope="col">Second Semester Payment : </th>
        <td>{{student.payment2}} Rs</td>
        <th scope="col">Date : </th>
        <td>{{student.date2 | date:'MM/dd/yyyy'}}</td>
      </tr>
      <tr>
        <th scope="col">Total Fees : </th>
        <td colspan="3">{{student.totalFee}} Rs</td>
      </tr>
      <tr>
        <th scope="col">Balance Fees : </th>
        <td colspan="3">{{student.balanceFee}} Rs</td>
      </tr>
  </table>
  <h5>[ HOD Sign ]</h5>
</div>
