<!-- <div class="form-group" *ngFor="let item of notes">
          <label>Uploaded File Link</label>
          <a href="{{item.file}}"> {{item.file}}</a>
        </div> -->
<div class="card-body">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Subject</th>
        <th scope="col">Class</th>
        <th scope="col">Uploaded Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of notes;  let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{item.noteTitle}}</td>
        <td>{{item.subject.subjectName}}</td>
        <td>{{item.class}}</td>
        <td>{{item.file}}</td>
        <td><button style="border-radius: 15px;">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
