<div class="background">
  <div class="form-group">
    <div class="card-body">
      <form [formGroup]="attendanceForm" class="form-register">
        <div class="form-group">
          <label>Class</label>
          <select (change)="onClassSelect()" formControlName="class" class="form-control">
            <option>SE</option>
            <option>TE</option>
            <option>BE</option>
          </select>
        </div>
         <button [disabled]="attendanceForm.invalid" (click)="onClassSelect()"
          class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
        <div class="register-link mt-15 text-center">
        </div>
      </form>
    </div>
  </div>


  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Present</th>
          <!-- <th scope="col">Email</th>
          <th scope="col">DOB</th>
          <th scope="col">Admission Date</th>
          <th scope="col">Class</th>
          <th scope="col">Username</th>
          <th scope="col">typeOfAdmission</th>
          <th scope="col">Dept</th> -->
        </tr>
      </thead>
      <tbody *ngFor="let student of students;  let i = index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" name = "present">Present
            </label>
          </td>
          <!-- <td>{{student.email}}</td>
          <td>{{student.dob}}</td>
          <td>{{student.admissionDate}}</td>
          <td>{{student.class}}</td>
          <td>{{student.userName}}</td>
          <td>{{student.typeOfAdmission}}</td>
          <td>{{student.dept}}</td> -->
          <!-- <td><button class="btn btn-warning" type="button">Edit</button>
          </td>
          <td> <button class="btn btn-danger" type="button">Delete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>



</div>

