<div class="background">
  <div class="form-group">
    <div class="card-body">
      <form [formGroup]="attendanceForm" class="form-register">
        <div class="form-group">
          <label>Class</label>
          <select (change)="onClassSelect()" formControlName="class" class="form-control">
            <option>NONE</option>
            <option>SE</option>
            <option>TE</option>
            <option>BE</option>
          </select>
        </div>
         <!-- <button [disabled]="attendanceForm.invalid" (click)="onClassSelect()"
          class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button> -->
          <div>
            <label>Select Subject</label>
              <select (change)="onClassSelect()" formControlName="subject" class="form-control">
                  <option *ngIf="subjects.length==0">No subjects found</option>
                  <option [value]="item._id" *ngFor="let item of subjects">{{item.subjectName}}</option>
              </select>
          </div>
        </form>
    </div>
  </div>
<!-- <button [disabled]="attendanceForm.invalid" (click)="onSubjectSelect()"
class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button> -->

  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Present</th>
        </tr>
      </thead>
      <tbody *ngFor="let student of students;  let i = index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" (click)="markAttendance(student)" name="present">Present
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="submitAttendance()">Submit Attendance</button>




</div>

