<div class="row1">
  <button (click)="type='add'" class="btn btn-primary" type="button">Add Student Fees</button>
  <button (click)="type='update'" class="btn btn-primary" type="button">Update Student Fees</button>
  <button (click)="type='view'" class="btn btn-primary" type="button">View Student Fees</button>
</div>
<div class="row2">
  <app-get-fees *ngIf="type == 'view'"></app-get-fees>
  <app-register-fee *ngIf="type == 'add'"></app-register-fee>
  <app-update-fee *ngIf="type == 'update'"></app-update-fee>
</div>
