/* .background{
  background-color: #6eaef3;
  margin-left: 442px;
  height: 397px;
  width: 351px;
  border-radius: 10px;
}

.sign{
  color: white;
  text-align: center;
} */

.background{
  background-color: #78c5db;
    height: 425px;
    width: 60%;
    border-radius: 45px;
    margin: auto;
    margin-top: 133px;
}

.sign{
  color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

.form-signin {
  margin-bottom: 1rem;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.form-group {
  margin-bottom: 1rem;
    font-size: 23px;
    color: white;
    font-family: monospace;
}

a {
  color: #05394c;
    text-decoration: none;
    font-size: 20px;
}

input {
  font-size: 18px;
  font-family: monospace;
}

button {
  background-color: #05394c;
    height: 65px;
    width: 45%;
    margin: auto;
    border-radius: 25px;
}
