<div class="form-group">
  <div class="card-body">
    <form [formGroup]="viewAttendanceForm" class="form-register">
      <div class="form-group">
        <label>Class</label>
        <select (change)="onClassSelect()" formControlName="class" class="form-control">
          <option>NONE</option>
          <option>SE</option>
          <option>TE</option>
          <option>BE</option>
        </select>
      </div>
      </form>
  </div>
</div>
<div class="viewBtn">
<button (click)="viewStudent()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">View Students</button>
<button (click)="closeStudent()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Close Students</button>
</div>
<div class="card-body1">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lecture Name</th>
        <th scope="col">Class Name</th>
        <th scope="col">Date</th>
        <th scope="col">Students Present</th>
        <!-- <th scope="col">Students Name</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let lecture of lectures;  let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{lecture.subjectId.subjectName}}</td>
        <td>{{lecture.class}}</td>
        <td>{{lecture.date | date: 'dd/mm/yyyy'}}</td>
        <td>{{lecture.studentsId.length}}</td>
      </tr>
      <tr *ngIf="isView && !isClose" >
      <div class="studentsList">
      <h5>Username of Students Present</h5>
      <div *ngFor="let student of lecture.studentsId;  let i = index">{{student.userName}}</div>
      </div>
      </tr>
    </tbody>
  </table>
</div>
